{
    "developer_mode": false,
    "db_host": "${DB_HOST}",
    "db_port": ${DB_PORT},
    "root_login": "${ROOT_LOGIN}",
    "root_password": "${ROOT_PASSWORD}",
    "socketio_port": ${SOCKETIO_PORT},
    "redis_cache": "redis://${REDIS_CACHE}",
    "redis_queue": "redis://${REDIS_QUEUE}",
    "redis_socketio": "redis://${REDIS_SOCKETIO}"
}
